name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: PRODUCTION
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@master
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: jaiakash
          template: classic
          base: activity
          config_timezone: Asia/Calcutta

          plugin_activity: yes
          plugin_activity_days: 31
          plugin_activity_filter: all
          plugin_activity_limit: 5
          plugin_activity_load: 300

          # temporarily disable habits plugin to test
          plugin_habits: no

          plugin_followup: yes
          plugin_followup_sections: repositories

          plugin_lines: yes

          plugin_notable: yes
          plugin_notable_from: organization

          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_skipped: true
